@import "config";
@import "menu";
@import "header";

body{
  font-family: $text-font-family;
  font-size: 15px;
  line-height: 1.8;
  color: #808080;
  font-weight: 300;
  background: url("../img/bg_4.jpg") no-repeat fixed;
  background-size: cover;
}

.container{
  max-width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

h1, h2, h3, h4, h5{
  color: #FFFFFF;
  font-family: $heading-font-family;
  font-weight: 400;
}

h2{
  text-transform: uppercase;
  font-size: 2rem;
}

.yellow-text{
  color: $primary-color;
}


.btn-primary{
  @include button($primary-color, #000);
  background-color: $primary-color;
  @include transition;

  &:hover{
    background-color: darken($primary-color, 15%);
    box-shadow: $boxshadow-sm;
  }
}

.btn-white{
  @include button(#fff, #fff);
  background: none;
  @include transition;
  &:hover{
    background-color: $primary-color;
    border-color: $primary-color;
    color: #000;
    box-shadow: $boxshadow-sm;
  }
}

.intro{
  .container-wrap{
    display: flex;
    width: 100%;
  }

  &-info{
    padding: 1.5rem 2rem;
    flex: 0 0 65%;
    background-color: $dark-background;
    display: flex;
    justify-content: flex-end;

    &__item{
      display: flex;
    }

    .info-icon{
      padding: 0 1rem;
      color: $primary-color;
      font-size: 1.25rem;
    }
  }

  &-socials{
    padding: 1.5rem 2rem;
    flex: 0 0 35%;
    background-color: $primary-color;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .socials-icons{
      display: flex;

      &>li{
        margin: 1rem;
        @include transition;

        & a{
          color: #FFFFFF;
          font-size: 1.5rem;
          @include transition;
        }

        &:hover{
          transform: scale(1.1);

          & a{
            color: darken(#ffffff, 10%);
          }
        }
      }
    }
  }
}

.about{
  &-wrap{
    display: flex;
  }

  &-image{
    display: block;
    width: 50%;
    //overflow: hidden;
    background: url("../img/about.jpg") no-repeat ;
    background-size: cover;
  }

  &-content{
    flex: 1;
    padding:5%;

    h2{
      margin-bottom: 1.5rem;
    }
  }
}

@import "responsive";


