.navbar{
  z-index: 3;
  padding: 0.5rem 1rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(18, 22, 24, 1);
  @include transition;

  &.shrink{
    background-color: rgba(18, 22, 24, 0.9);
    @include transition;
  }

  &-container{
    @extend .container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include transition;
  }

  &-logo{
    font-family: $heading-font-family;
    font-weight: 500;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 1;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin-right: 1rem;

    & span, i{
      color: $primary-color;
    }

    .small{
      font-size: 12px;
      font-weight: 400;
      text-transform: uppercase;
      display: block;
    }
  }

  .menu-btn{
    position: relative;
    height: 20px;
    width: 28px;
    cursor: pointer;
    display: flex;
    @include transition;
    visibility: hidden;

    &__burger{
      @include burger-menu(28px, 0.5rem);

      &::before{
        content: "";
        @include burger-menu(28px, -8px);
      }

      &::after{
        content: "";
        @include burger-menu(20px, 8px);
      }

      &.open {
        transform: rotate(
                        360deg
        );
        background: transparent;

        &::before{
          transform: rotate(
                          45deg
          ) translate(5px, 8px);
        }

        &::after{
          width: 28px;
          transform: rotate(
                          -45deg
          ) translate(3px, -7px);
        }
      }
    }
  }


  &-collapse{
    flex: 0 0 55%;
    @include transition;
  }

  &-nav{
    display: flex;
    justify-content: space-between;
  }

  .nav-item{
    padding: 1.5rem;
    @include transition;
    &:hover .nav-link{
      color: #FFFFFF;
      &:after{
        visibility: visible;
        transform: translate(-50%,0) scale(1);
      }
    }
  }

  .nav-link{
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
    position: relative;
    @include transition;

    &.active{
      color: $primary-color;
      &:hover{
        color: $primary-color;
      }
    }

    &:after{
      content: '';
      position: absolute;
      visibility: hidden;
      left: 50%;
      bottom: -4px;
      width: 100%;
      height: 2px;
      background-color: #FFFFFF;
      transform: translate(-50%,0) scale(0);
      @include transition;
    }
  }
}