<section class="about">
  <div class="about-wrap">
    <div class="about-image">
      <!--            <img src="img/about.jpg" alt="">-->
    </div>
    <div class="about-content">
      <h2>Welcome to <span class="yellow-text"><i class="flaticon-pizza"></i> pizza</span> restaurant</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, consectetur libero odio officiis perferendis quam reprehenderit repudiandae vero? Maiores mollitia nobis, quibusdam repellat repudiandae sint suscipit tempora ullam! Aliquam architecto autem cum deserunt, distinctio eaque earum, eveniet facilis, harum id illo ipsum maiores minus molestiae mollitia numquam sed voluptatem. Eos.
      </p>
    </div>
  </div>
</section>