<footer class="footer">
    <div class="container">
        <div class="footer-info">
            <div class="footer-info__item">
                <h3>About us</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam beatae est natus placeat porro?</p>
            </div>
            <div class="footer-info__item">
                <h3>Services</h3>
                <ul class="list">
                    <li class="list-item"><a href="/" >Cooked</a></li>
                    <li class="list-item"><a href="/" >Deliver</a></li>
                    <li class="list-item"><a href="/" >Quality foods</a></li>
                    <li class="list-item"><a href="/" >Mixed</a></li>
                </ul>
            </div>
            <div class="footer-info__item">
                <h3>Have a question?</h3>
                <ul class="list">
                    <li class="list-item">
                        <span class="list-icon"><i class="flaticon-map"></i></span>
                        <span>203 Fake St. Mountain View, San Francisco, California, USA</span>
                    </li>
                    <li class="list-item">
                        <span class="list-icon"><i class="flaticon-phone-call"></i></span>
                        <a href="tel:+380129876543">+38 012 987 65 43</a>
                    </li>
                    <li class="list-item">
                        <span class="list-icon"><i class="flaticon-envelope"></i></span>
                        <a href="mailto:example@yourmail.com">example@yourmail.com</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-socials">
            <ul class="socials-icons">
                <li><a href="#"><i class="flaticon-twitter"></i></a></li>
                <li><a href="#"><i class="flaticon-facebook"></i></a></li>
                <li><a href="#" ><i class="flaticon-instagram"></i></a></li>
            </ul>
        </div>
        <div class="footer-copyright">
            <p>Copyright ©2022 This template is coded with <i class="flaticon-heart"></i> by <a href="https://github.com/ivanna-pt">Ivanna Pokhyl</a></p>
        </div>
    </div>
</footer>