<section class="gallery">
  <div class="gallery-row">
    <div class="gallery-row__item"><a href="#">
      <i class="flaticon-search"></i>
    </a></div>
    <div class="gallery-row__item"><a href="#">
      <i class="flaticon-search"></i>
    </a></div>
    <div class="gallery-row__item"><a href="#">
      <i class="flaticon-search"></i>
    </a></div>
    <div class="gallery-row__item"><a href="#">
      <i class="flaticon-search"></i>
    </a></div>
  </div>
  <div class="gallery-info">
    <div class="gallery-info__item">
      <div class="icon">
        <i class="flaticon-pizza-slice"></i>
      </div>
      <div class="body">
        <div class="title">100</div>
        <p>Pizza branches</p>
      </div>
    </div>
    <div class="gallery-info__item">
      <div class="icon">
        <i class="flaticon-medal"></i>
      </div>
      <div class="body">
        <div class="title">85</div>
        <p>Numbers of awards</p>
      </div>
    </div>
    <div class="gallery-info__item">
      <div class="icon">
        <i class="flaticon-rating"></i>
      </div>
      <div class="body">
        <div class="title">10,567</div>
        <p>Happy customers</p>
      </div>
    </div>
    <div class="gallery-info__item">
      <div class="icon">
        <i class="flaticon-chef"></i>
      </div>
      <div class="body">
        <div class="title">90</div>
        <p>Staff</p>
      </div>
    </div>
  </div>
</section>