<header class="header">
    <div class="container">
        <div class="header__body">
            <div class="header__body-content">
                <p class="accent-heading">Welcome</p>
                <h1>We cooked your desired pizza recipe</h1>
                <p class="text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda est modi perferendis voluptas.
                </p>
            </div>
            <div class="header__body-buttons">
                <a href="#" class="btn-primary">Order now</a>
                <a href="#" class="btn-white">View menu</a>
            </div>
        </div>

        <div class="indicator-wrapper">
            <div class="indicator-item">
                <div></div>
            </div>
            <div class="indicator-item">
                <div></div>
            </div>
            <div class="indicator-item">
                <div></div>
            </div>
        </div>
    </div>
</header>