$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?9272dd6433cc5d8496622c01d97e5324") format("truetype"),
url("./flaticon.woff?9272dd6433cc5d8496622c01d97e5324") format("woff"),
url("./flaticon.woff2?9272dd6433cc5d8496622c01d97e5324") format("woff2"),
url("./flaticon.eot?9272dd6433cc5d8496622c01d97e5324#iefix") format("embedded-opentype"),
url("./flaticon.svg?9272dd6433cc5d8496622c01d97e5324#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "pizza-slice": "\f101",
    "phone-call": "\f102",
    "clock": "\f103",
    "twitter": "\f104",
    "facebook": "\f105",
    "instagram": "\f106",
    "pizza": "\f107",
    "diet": "\f108",
    "fast-delivery": "\f109",
    "search": "\f10a",
    "medal": "\f10b",
    "chef": "\f10c",
    "rating": "\f10d",
    "user": "\f10e",
    "envelope": "\f10f",
    "map": "\f110",
    "calendar": "\f111",
    "comment": "\f112",
    "pizza-slice-1": "\f113",
    "heart": "\f114",
);

.flaticon-pizza-slice:before {
    content: map-get($flaticon-map, "pizza-slice");
}
.flaticon-phone-call:before {
    content: map-get($flaticon-map, "phone-call");
}
.flaticon-clock:before {
    content: map-get($flaticon-map, "clock");
}
.flaticon-twitter:before {
    content: map-get($flaticon-map, "twitter");
}
.flaticon-facebook:before {
    content: map-get($flaticon-map, "facebook");
}
.flaticon-instagram:before {
    content: map-get($flaticon-map, "instagram");
}
.flaticon-pizza:before {
    content: map-get($flaticon-map, "pizza");
}
.flaticon-diet:before {
    content: map-get($flaticon-map, "diet");
}
.flaticon-fast-delivery:before {
    content: map-get($flaticon-map, "fast-delivery");
}
.flaticon-search:before {
    content: map-get($flaticon-map, "search");
}
.flaticon-medal:before {
    content: map-get($flaticon-map, "medal");
}
.flaticon-chef:before {
    content: map-get($flaticon-map, "chef");
}
.flaticon-rating:before {
    content: map-get($flaticon-map, "rating");
}
.flaticon-user:before {
    content: map-get($flaticon-map, "user");
}
.flaticon-envelope:before {
    content: map-get($flaticon-map, "envelope");
}
.flaticon-map:before {
    content: map-get($flaticon-map, "map");
}
.flaticon-calendar:before {
    content: map-get($flaticon-map, "calendar");
}
.flaticon-comment:before {
    content: map-get($flaticon-map, "comment");
}
.flaticon-pizza-slice-1:before {
    content: map-get($flaticon-map, "pizza-slice-1");
}
.flaticon-heart:before {
    content: map-get($flaticon-map, "heart");
}
